<% provide(:title, "TATM: Log In") %>
<h1>Log In</h1>
<div class="col-md-6">
  <%= render 'sessions/login_form' %>
</div>
<div class="new-user-container-right col-md-6"> 
  <div class="image-container">
     <%= image_tag("mountains_night.jpg", class: "space-pictures") %> 
  </div>
</div>