<% provide(:title, "TATM: Sign Up") %>
<h1>Sign Up</h1>
<div class="new-user-container">
  <div class="new-user-container-left col-md-6">
    <%= render 'users/user_info' %>  
  </div>
  <div class="new-user-container-right col-md-6"> 
    <div class="image-container">
       <%= image_tag("shuttle_at_night.jpg", class: "space-pictures") %> 
    </div>
  </div>
</div>