<% provide(:title, "TATM: Home") %>
<h1>Keep Looking Up</h1>
<% unless logged_in? %>
  <div class="home-container-left col-md-3">
    <h3 id="home-page-sign-up-title"> Get Gazing! </h3> 
    <%= render 'sessions/login_form' %>
  </div>
<% else %>
  <div class="home-container-left col-md-3">
    <h3 id="home-page-sign-up-title">Start Star Talking!</h3>

  </div>
<% end %>
<div class="home-container-middle col-md-6"> 
  <div class="image-container">
     <%= image_tag("sts125.jpg", id: "telescope-picture") %> 
  </div>
</div>
<div class="home-container-right col-md-3">
</div>