<header class="navbar navbar-fixed-top header-nav-bar">
  <%= link_to "Telescopes are Time Machines", root_path, id: "logo" %>
<!--   <div class="container"> -->
    <nav>
      <ul class="nav navbar-nav navbar-right header-links">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
      </ul>
    </nav>
  <!-- </div> -->
</header>